.time-control {
	display: block;
	justify-content: space-between;
	align-items: center;
	.left {
		padding-right: 20px;
	}
	.middle {
		margin-left: 20px;
		margin-right: 20px;
	}
	.right {
		padding-left: 20px;
	}
}

.left,
.middle,
.right {
	display: inline-block; /* Display the paragraphs as inline-block */
	vertical-align: middle; /* Vertically align them in the middle */
}

.play-control {
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.toggle-play,
.toggle-pause {
	padding: 0 calc(65px - 5vh) 0 calc(65px - 5vh);
	flex-grow: 1;
	max-width: 140px; /* Consider adjusting if icons are smaller/larger */
	width: 140px;
}

.skip-back {
	// padding-right: 50px;
}

.skip-forward {
	// padding-left: 50px;
}

input {
	// width: 500px;
}

@media (hover: hover) {
	.toggle-pause,
	.toggle-play,
	.skip-back,
	.skip-forward {
		cursor: pointer;
		user-select: none;
	}

	.play,
	.pause,
	.skip-back,
	.skip-forward {
		&:hover {
			transform: scale(1.1);
		}
		&:active {
			transform: scale(1);
		}
	}
}

@media (hover: none) {
	* {
		*:active,
		*:focus,
		*:hover {
			outline: none;
			cursor: none;
		}
	}

	.toggle-play,
	.toggle-pause,
	.skip-back,
	.skip-forward {
		&:active {
			transform: scale(1.1);
		}
	}
}
